/**/
.display{
    text-align: center;
    font-size: 150%;
    margin: 6em 0px;

}

.insert{
    width: 70px;
    height: 30px;
    margin: 1em 0px;
    font-size: 18px;

}

.button{
    background-color: rgb(56, 142, 255);
    /* padding: 20px; */
    height: 70px;
    width: 150px;
    font-size: 130%;

}